<hr/>
<div class="dashboard">
	<h3>Your tasks for the D3js and Angular assessment:</h3>
	<ul>
		<li>Follow the link "bars", "lines", "pies" and see the details there</li>
	</ul>
	<h3>Your tasks for the Zurb Foundation assessment:</h3>
	<ul>
		<li>
			General hint: please use "git" for version control and make a git commit for each task, so it is 
			easier for me to see how you implemented each one
		</li>
		<li>
			<ul>
				<li>Change the background of the page to a color of your liking</li>
				<li>Change the global font to "font-family: 'Droid Sans', sans-serif;" from Google Fonts</li>
				<li>Note: please use the "Foundation way (scss in the right place)"</li>
			</ul>
		<li>
			<p>Make the top level navigation look like this</p>
			<img src="app/img/navigation.png">
			<p>
				Make sure the currently selected item is highlighted (class active)
				hint: 
					<a href="https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref-active">
					  ui-sref-active documentation at Angular UI Router
					</a>
			</p>
		</li>
		<li>
			<p>Make a form looking like this</p>
			<img src="app/img/form.png">
			<p>Texts for copy/pasting</p>
			<ul>
				<li>Prediction Schedule: Set your prediction schedule here. Please note that calculating predictions may take some time. You can start predictions manually too.</li>
				<li>Evaluation Schedule: Set your evaluation schedule here. Automatic learning is based on evaluation results.</li>
				<li>Automatic Learning: Choose your key performance indicator (KPI) from the list of available indicators and set the threshold that triggers automatic learning.</li>
				<li>Color code does not matter (you can use this: <span style="color:#00A14B">#00A14B</span>) - make sure you put a gradient there (support latest Chrome and Firefox, no Internet Explorer necessar)</li>
			</ul>
		</li>
	</ul>
</div>