<h1 class="title">Some lines</h1>
<div class="row lines">
  <div class="large-6 columns">
	<div class="chart line-chart">
		<d3-line-chart lines="lines"></d3-line-chart>
	</div>
  </div>
  <div class="large-6 columns">
  	<div class="row">
  		<div class="large-6 columns">
  			<form ng-submit="updateLineCount()">
  			  <label>Enter number of lines to draw</label>
  			  <input type="text" ng-model="numberOfLines" placeholder="Enter number of lines to draw">
  			  <input class="button" type="submit" value="Update line count">
			</form>
		</div>
	  </div>
  </div>
</div>

<hr />
<div>
	<p>Your Task: make the chart above looks like this</p>
	<img src="app/img/linesFinal.png">
</div>

      